
@require "base/font"
@require "base/variables"
@require "base/base"
@require "base/utils"

@require "common/header"
@require "common/container"
@require "common/footer"
@require "common/main"
@require "common/home"
@require "common/sidebar"
@require "common/section"
@require "common/summary"
@require "common/single"
@require "common/list"
@require "common/taxonomy"
@require "common/chroma"
@require "common/alltaxonomies"


@media screen and (max-width: 720px)
  @require "mobile/hidden"
  @require "mobile/main"
  @require "mobile/container"
  @require "mobile/header"
  @require "mobile/section"
  @require "mobile/single"
