.lists
  width: 100%
  max-width: 1000px
  background-color: whiteBackgroundColor
  padding: 1rem
  margin: 0 auto

.lists--title
  color: titleColor
  border-bottom: 1px solid titleColor
  margin-bottom: 0.8rem

.lists--item
  padding: 0.3rem
  padding-left: 0
  margin-left: 1rem
  margin-bottom: 0.5rem
  border-bottom: 1px solid #EBEBEB

.lists--item span
  color: #888
  padding-right: 1rem
