.sidebar
  width: sidebarWidth
  position: absolute
  top: 4.5rem
  left: 1.5rem

.tags--box
.categories--box
  padding: 0.6rem 0.8rem 0.8rem 1.1rem
  margin-bottom: 1rem
  background-color: whiteBackgroundColor

// Tags, categories
.tags--title
.categories--title
  height: 1.7rem
  font-size: 1rem
  font-weight: normal
  line-height: 1.7rem
  border-bottom: 1px solid #EBEBEB
  margin-bottom: 0.2rem
  position: relative

.tags--title:before
.categories--title:before
  content: "";
  height: 0;
  width: 2.5rem;
  border-bottom: 1px solid #1D953F;
  position: absolute;
  bottom: -1px;
  left: 0;

.tags--item
.categories--item
  height: 1.2rem
  line-height: 1.2rem
  font-size: 0.9rem
  vertical-align: middle

.tags--number
.categories--number
  font-size: 0.7rem
