.single
  padding-top: 0
  padding-right: 12rem
  position: relative
  top: 0
  left: 0
  background-color: #EBEBEB

.single--box
  padding: 1rem
  background-color: #FFF

.single--head
  padding-bottom: .3rem
  margin-bottom: .8rem
  border-bottom: 1px solid titleColor

.single--title
  color: titleColor
  padding: .5rem 0

.single--meta
  position: relative
  top: 0
  left: 0

.single--meta .meta--date
.single--meta .meta--wordcount
  color: #969696
  font-size: .7rem


.single--tags
  position: absolute
  left: 13rem
  top: 0

.single--tagitem
  display: inline-block
  margin-right: 0.3rem
  font-size: 0.8rem


.single--content
  & h1
    font-size: 1.3rem
    margin: 1.6rem 0 .5rem

  & h2
    font-size: 1.1rem
    margin: 1.3rem 0 0.3rem

  & h3
    font-size: 1rem
    margin: 1.1rem 0 0.2rem

  & h4
    font-size: 0.9rem
    margin: 0.8rem 0

  & p
  & li
    line-height: 1.2rem;

  & > p
    margin: .5rem 0

  & pre
    margin: 0.8rem 0

  & blockquote
    padding: 0.5rem 0.8rem
    margin: 0.5rem
    margin-left: 1.6rem
    background-color: #F6F8FA
    border-left: 6px solid #66CC99
    line-height: 1rem

  & code
    background-color: #F0F0F0
    line-height: 1rem

  & table
  & th
  & tr
  & td
  & tbody
  & thead
  & tfoot
    border: 1px solid #C6CBD1

  & table
    max-width: 100%
    margin: 1rem 0
    overflow-x: scroll
    word-break: break-all
    table-layout: fixed

  & td
  & th
    padding: .2rem .4rem

  & tbody tr:nth-of-type(even)
    background-color: #F6F8FA

  & em
    font-style: italic

  & strong
    font-weight: bold

  & img
    width: 100%

.single--nav
  margin-top: 1.2rem
  line-height: 1.4rem


.table-of-contents
  width: 11rem
  position: fixed
  top: 4.5rem
  right: 1.5rem
  bottom: 6rem
  padding: .7rem
  padding-left: 0
  font-size: .6rem
  background-color: #FFF
  overflow-y: auto

  & ul
  & li
    padding: 0
    margin: 0
    list-style: none

  & ul
    padding-left: .6rem

  & li
    padding-bottom: .2rem
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
