.summary--box
  background-color: defaultBackgroundColor

.summary
  padding: 0.8rem
  margin-bottom: 1rem
  background-color: whiteBackgroundColor
  border: 1px solid #E3E3E3

.summary--head
  padding-bottom: 0.2rem
  margin-bottom: 0.4rem
  border-bottom: 1px solid #E3E3E3

.summary--title
  width: 100%
  display: block
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  font-size: 1.1rem

.summary--meta
  color: #969696
  font-size: 0.7rem

.summary--content
  line-height: 1.05rem

.read-more
  margin-top: 0.5rem
  text-align: right

.read-more a 
  padding: 0.3rem 0.4rem
  color: #FFFFCC
  background-color: defaultLinkColor
