/*tags-lists, categories-list*/
.taxonomy--box
  // max-width: 1200px
  margin: 0 auto
  position: relative

.taxonomy--tags
.taxonomy--categories
  top: 0
  left: 0

.taxonomy--title
  color: #1D953F
  text-align: center
  border-bottom: 1px solid #1D953F
  margin-bottom: .8rem

.taxonomy--item
  padding: .3rem
  margin-bottom: .5rem
  border-bottom: 1px solid #EBEBEB

.taxonomy--item span
  color: #888
  padding-right: 1rem

