html
head
body
header
footer
div
p
h1
h2
h3
h4
h5
h6
nav
section
article
pre
blockquote
aside
table
thead
tbody
tfoot
tr
th
td
strong
em
i
small
code
span
a
img
video
audio
embed
object
  padding: 0
  margin: 0
  box-sizing: border-box

// list
ol
ul
li
dl
dt
dd
  box-sizing: border-box

// media
img
audio
video
embed
object
  max-width: 100%

// table
table
thead
tbody
tfoot
tr
th
td
  border-collapse: collapse
  border: 0

// a
a
  color: defaultLinkColor
  background-color: inherit;
  text-decoration: none


a:visited
  color: defaultVisitedColor

a:hover
  color: defaultLinkColor

a:active
  color: defaultLinkColor

html
  font-size: defaultFontSize

body
  font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei","Microsoft YaHei UI","Microsoft YaHei",sans-serif;
  font-size: 0.8rem
  color: defaultColor
  background-color: defaultBackgroundColor

pre
code
  font-family: monospace

// TODO
h1
  font-size: 1.4rem
  line-height: 2rem

h2
  font-size: 1.2rem
  line-height: 1.6rem

h3
  font-size: 1rem
  line-height: 1.4rem
