//font size
defaultFontSize = 20px

//color
defaultColor = #333

headerColor = #FFFFCC

titleColor = #1D953F

// background color
defaultBackgroundColor = #EBEBEB

whiteBackgroundColor = #FFF

tableVackgroundColor = #F6F8FA

// Theme Color
defaultThemeColor = #66CC99

// link color
defaultLinkColor = #65C294

defaultVisitedColor = #85C360

// border color
tableBorderColor = #C6CBD1


// sidebar width
sidebarWidth = 14rem